.feed{
    /*margin-top: 100px;*/
    padding: 40px;
    width: 100%;
    /*border: 1px solid orange;*/
    margin: 0;
    background-color: #ECF6F6;
    
}

.header{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #121212;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.profile{
    border: 1px solid #1a1a1a;
    background-color: #1e1e1e;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.3);
    padding: 10px;
    
}

.profileContainer{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    display: flex; /* Flexbox for alignment */
    align-items: center; /* Center items vertically */
}

.profilePictureContainer{
    margin-left: 10px;
    margin-right: 10px;
}

.songsOfTheWeek{
    margin-bottom: 40px;
}

.songsOfTheWeekContainer{
    border: 1px solid #1a1a1a;
    background-color: #1e1e1e;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.3);
    
}

.playlists{
    margin-bottom: 40px;
}

.playlistsContainer{
    border: 1px solid #1a1a1a;
    background-color: #1e1e1e;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.3);
    
}
 
.profileInfo{
    color: white;
    flex:1;
}

.profilePictureContainer{
    border: 1px solid #ECF6F6;
    background-color: #ECF6F6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 2px 0 5px rgba(255, 253, 253, 0.753);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    font-size: 80px;
}



.menuButton {
    position: absolute;
    top: 10px; 
    right: 0;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 40px; 
    right: 0;
    background-color: #333;
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.menu ul li {
    color: white;
    padding: 8px 12px;
    cursor: pointer;
}

.menu ul li:hover {
    background-color: #444;
}

.editFormOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}


.editFormContainer {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 400px;
    max-width: 100%;
    color: white;
}

.formGroup {
    margin-bottom: 20px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
}

.formControl {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #333;
    color: white;
}

.formActions {
    display: flex;
    justify-content: flex-end;
}

.saveButton {
    background-color: #37D0D6;
    color: white;
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.cancelButton {
    background-color: #444;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.followButton {
    background-color: #37D0D6;
    color: white;
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    width: 100%;
}

.followButton:hover{
    background-color: #ECF6F6;
    color: #37D0D6;
}

.profileImage {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.playlistFriendsContainer {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.friendsText:hover{
    cursor: pointer;
}

.friendsMenu {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 400px;
    max-width: 100%;
    color: white;
    position: relative; 
    padding: 20px;

    /*position: absolute;
    top: 40px; 
    right: 0;*/
    background-color: #333;
    border: 1px solid #1a1a1a;
    /*border-radius: 5px;*/
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.3);
    /*z-index: 1000;*/
}

.friendsMenu ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.friendsMenu h5 {
    
    margin: 0;
    padding: 10px;
}

.friendsMenu ul li {
    color: white;
    padding: 8px 12px;
    cursor: pointer;
}

.friendsMenu ul li:hover {
    background-color: #444;
}

.friendsMenuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.closeFriendsMenuButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #ECF6F6;
}

.closeFriendsMenuButton:hover {
    color: white;
}

.friendsListContainer{
    margin: 10px;
}

