.upperBar {
    width: 84%;
    background-color: #ECF6F6; /* Background color of the upper bar */
    padding: 10px 20px;
    /*box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional shadow */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it’s above other content */
    margin-left: 250px;
    height: 15vh;
}